*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-size: cover;
  background-position: center;
  background-image: url("");
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
  border-radius: 10px;background-color:#003344; color:white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding:10px; margin:0px;
}

.logo_container h1{
  color: white;
  height: 100%;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.menu-bar{ 
  justify-content: flex-start;
  background: rgba(0,100,0);
}

.fa-angle-right{
  align-items: center;
}

.menu-bar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #fff;  
}

.menu-bar ul li{
  flex:none;
  width: 120px;
  margin-left: 80px;
  padding: 15px 5px 15px 15px;
}
/*
@media(max-width:1200px){
  .menu-bar ul li{
  width:45%;
} 

@media(max-width:500px){
  .menu-bar ul li{
  width:90%;
} 
*/
.menu-bar ul li a{
  flex:none;
  text-decoration: none;
  color: #fff;
}

.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
}

.sub-menu-1{
  display: none;
}

.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: rgb(0,100,0);
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color:#b2ff00;
}

.fa-angle-right{
  float: right;
}

.sub-menu-2{
  display: none;
}

.hover-me:hover .sub-menu-2{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background: rgba(0,100,0);
}
.navigation{
  position: fixed;
  background:#fff;
  width: 58px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation.open{
  width: 250px;
}
.navigation .menuToggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0,0,0,15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  padding: 0 14px;
}
.navigation .menuToggle::before{
  content: '';
  position: absolute;
  width:20px;
  height:2px;
  background:#333;
  transform: translateY(-8px);
  transition: 0.5s;
}
.navigation.open .menuToggle::before{
  transform: translateY(0px) rotate(45deg);
}
.navigation .menuToggle::after{
  content: '';
  position: absolute;
  width:20px;
  height:2px;
  background:#333;
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 #333;
}
.navigation.open .menuToggle::after{
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 0 #333;
}
.navigation ul{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 10px;
  width: 100%;
}
.navigation ul li{
  list-style: none;
  position: relative;
  width: 100%;
  height:60px;
  padding: 0px 0px;
  transition: 0.5;
}
.navigation ul li.active{
   transform: translateX(20px)
}
.navigation.open ul li.active{
  transform: translateX(20px);
}
.navigation ul li a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 45px;
  height: 45px;
  line-height: 50px;
  transform: 0.5s;
  border-radius: 10px;
  font-size: 1.75rem;
  color: #222;
}
.navigation ul li.active a .icon {
  color:#fff;
 background: var(--clr);
}
.navigation ul li a .icon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  filter:blur(8px);
  opacity:0;
  transition: 0.5s;
}
.navigation ul li.active a .icon::before{
  opacity:0.5;
}
.navigation ul li a .text{
  position: relative;
  padding: 0 15px;
  height: 20px;
  display: flex;
  align-items: center;
  color: #333;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.navigation.open ul li a .text{
  opacity: 1;
  visibility: visible;
}
.navigation ul li.active a .text{
  color:var(--clr);
}

